<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LookDiary</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <div class="logo"><h3>LookDiary!</h3></div>
        <div class="search">
          <form action="" class="search">
            <input type="search" />
            <input type="date" />
            <input type="search" placeholder="Search" />
          </form>
        </div>
      </div>

      <div class="hero">
        <div class="display">
          <% if (diaries.length > 0) { %>
            <% diaries.forEach(diary => { %>
              <div class="card">
                <div class="card-title">
                  <h4><%= diary.title %></h4>
                </div>
                <div class="card-date">
                  <h6><%= diary.date %></h6>
                </div>
              </div>
            <% }) %>
          <% } else { %> <!-- Corrected the syntax here -->
            <p>No entries yet.</p>
          <% } %>
        </div>
        
        <div class="diary-inputs">
          <form action="/written" method="post">
            <input type="text" name="title" placeholder="Title" />
            <textarea
              name="content"
              id="content"
              placeholder="Start From Here"
              spellcheck="false"
            ></textarea>
            <div class="main-side">
                <div class="side-content">
                    <input
                      type="text"
                      name="sidecontent"
                      id="sidecontent"
                      placeholder="Add Side Content"
                    />
      
                    <div class="dlt-add">
                      <i class="ri-add-fill"></i>
                      <!-- <i class="ri-subtract-fill"></i> -->
                    </div>
                  </div>
            </div>
            <button type="submit">Add To Diary</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
